//Colors
$color-grey-light: #F6F6F6;
$color-grey-light2: #ABABAB;
$color-grey-dark: #565656;
$color-tan-light: #E4E5C9;
$color-brown-light: #8B5A2B;
$color-brown: #A0522D;
$color-brown-dark: #8B4513;
$color-brown-dark2: #4F2709;
$color-yellow: #CD8500;
$color-yellow-light: #FFA54F;

//Fonts
$font-open-sans: 'Open Sans', sans-serif;
$font-lora: 'Lora', serif;
$font-inconsolata: 'Inconsolata', monospace;

//Breakpoints
$break-large: 1200px;
$break-medium: 1024px;
$break-small: 699px;