//Colors
$color-grey-light: #F6F6F6;
$color-grey-light2: #ABABAB;
$color-grey-dark: #565656;
$color-tan-light: #E4E5C9;
$color-brown-light: #8B5A2B;
$color-brown: #A0522D;
$color-brown-dark: #8B4513;
$color-brown-dark2: #4F2709;
$color-yellow: #CD8500;
$color-yellow-light: #FFA54F;

//Fonts
$font-open-sans: 'Open Sans', sans-serif;
$font-lora: 'Lora', serif;
$font-inconsolata: 'Inconsolata', monospace;

//Breakpoints
$break-large: 1200px;
$break-medium: 1024px;
$break-small: 699px;

//Main Content Mixins

@mixin textWidth {
  width: auto;
  margin: 0 50px;
  max-width: 1200px;

  @media screen and (min-width: $break-large) {
    margin: 0 auto;
  }

  @media screen and (max-width: $break-medium) {
    margin: 0 30px;
  }

  @media screen and (max-width: $break-small) {
    margin: 0 10px;
  }
}

@mixin fullWidth {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  max-width: 1900px;
}


* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  &.fixed {
    overflow-y: hidden;
  }
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-lora;
}

h1 {
  font-size: 450%;

  @media screen and (max-width: $break-medium) {
    font-size: 350%;
  }

  @media screen and (max-width: $break-small) {
    font-size: 250%;
  }
}

h2 {
  font-size: 300%;

  @media screen and (max-width: $break-medium) {
    font-size: 250%;
  }

  @media screen and (max-width: $break-small) {
    font-size: 200%;
  }
}

h3 {
  font-size: 250%;

  @media screen and (max-width: $break-medium) {
    font-size: 200%;
  }

  @media screen and (max-width: $break-small) {
    font-size: 150%;
  }
}

h4 {
  font-size: 200%;

  @media screen and (max-width: $break-medium) {
    font-size: 150%;
  }

  @media screen and (max-width: $break-small) {
    font-size: 100%;
  }
}

p {
  font-family: $font-open-sans;
}

// Navigation
nav.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: top 0.3s ease;

  &.nav-collapse {
    top: -71px;
  }

  .mobile-nav-menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: $color-grey-light;
    border-bottom: 1px solid $color-grey-light2;

    button.navigation-button {
      width: 60px;
      height: 60px;
      background: none;
      border: 0;
      background-image: url('./icons/menu.svg');
      background-size: 40px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .main-navbar {
    position: fixed;
    right: -100%;
    width: 400px;
    height: calc(100vh - 70px);
    margin: 0;
    background: $color-grey-light;
    transition: right 0.3s ease;
    z-index: 1;

    @media screen and (max-width: $break-medium) {
      width: 100%;
    }

    &.expanded {
      right: 0;
    }
  }
}

// Main Content
main {
  @include textWidth;
}

// Hero Module
.hero {
  @include fullWidth;

  video {
    width: 100%;
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 4px);
    background: linear-gradient( 0deg, rgba(#000000, 0.7), rgba(#000000, 0));
    display: flex;
    justify-content: center;
    align-items: center;

    .overlay-content {
      width: 600px;
      padding: 50px 0;
      border-top: 4px solid $color-yellow-light;
      border-bottom: 4px solid $color-yellow-light;
      transform: scale(0.98);
      transition: transform 2s ease;

      &.zoomed {
        transform: scale(1);
      }

      @media (max-width: $break-medium) {
        width: 450px;
        padding: 30px 0;
        margin: 0 50px;
      }

      @media (max-width: $break-small) {
        width: auto;
        padding: 20px 0;
        margin: 0 30px;
      }

      h1 {
        text-align: center;
        color: #FFFFFF;
        font-family: $font-inconsolata;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #000000;
        margin-top: 0;
      }
      .subheader {
        text-align: center;
        color: #FFFFFF;
        font-size: 20px;
        text-shadow: 1px 1px 1px #000000;
      }
    }
  }
}


//Coverr mp4 snippet
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}
