//Colors
$color-brown-light: #8b5a2b;
$color-brown: #a0522d;
$color-brown-dark: #8b4513;
$color-yellow: #cd8500;
$color-yellow-light: #ffa54f;

//Fonts
$font-open-sans: 'Open Sans', sans-serif;
$font-lora: 'Lora', serif;

//Breakpoints
$break-large: 1600;
$break-medium: 1024;
$break-small: 699;

body {
    background: green;
}