//Main Content Mixins
@mixin gutter {
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $break-medium) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $break-large) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@mixin textWidth {
  @media (min-width: $break-large) {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@mixin fullWidth {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  max-width: 1900px;
}
