//Colors
$color-white: #FFFFFF;
$color-grey: #F6F6F6;
$color-grey2: #ABABAB;
$color-yellow: #FFA54F;
$color-black: #000000;
$color-blue: #2F20EE;

//Fonts
$font-roboto: 'Roboto', sans-serif;
$font-oswald: 'Oswald', sans-serif;

//Breakpoints
$break-large: 1200px;
$break-medium: 1024px;
$break-small: 699px;