* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  &.fixed {
    overflow-y: hidden;
  }
}

// Image Slider & Slick overwrites
.image-slider {
  margin: 30px 0 50px;

  img {
    max-height: 500px;
  }

  .slick-dots {
    text-align: center;
    list-style-type: none;

    li {
      display: inline;

      &.slick-active {
        button:after {
          background: $color-grey2;
        }
      }

      button {
        position: relative;
        padding: 10px 15px;
        margin: 0 15px;
        color: transparent;
        background: none;
        border: 0;

        &:after {
          content: '';
          position: absolute;
          top: 12px;
          left: 12px;
          width: 10px;
          height: 10px;
          border: 2px solid $color-grey2;
          border-radius: 10px;
        }
      }
    }
  }
}

// Section dependent styling
.section {
  margin: 0 0 75px;
}
