* {
  box-sizing: border-box; }

body {
  overflow-x: hidden; }
  body.fixed {
    overflow-y: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif; }

h1 {
  font-size: 450%; }
  @media screen and (max-width: 1024px) {
    h1 {
      font-size: 350%; } }
  @media screen and (max-width: 699px) {
    h1 {
      font-size: 250%; } }

h2 {
  font-size: 300%; }
  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 250%; } }
  @media screen and (max-width: 699px) {
    h2 {
      font-size: 200%; } }

h3 {
  font-size: 250%; }
  @media screen and (max-width: 1024px) {
    h3 {
      font-size: 200%; } }
  @media screen and (max-width: 699px) {
    h3 {
      font-size: 150%; } }

h4 {
  font-size: 200%; }
  @media screen and (max-width: 1024px) {
    h4 {
      font-size: 150%; } }
  @media screen and (max-width: 699px) {
    h4 {
      font-size: 100%; } }

p {
  font-family: "Open Sans", sans-serif; }

nav.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: top 0.3s ease; }
  nav.main-navigation.nav-collapse {
    top: -71px; }
  nav.main-navigation .mobile-nav-menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #F6F6F6;
    border-bottom: 1px solid #ABABAB; }
    nav.main-navigation .mobile-nav-menu button.navigation-button {
      width: 60px;
      height: 60px;
      background: none;
      border: 0;
      background-image: url("./icons/menu.svg");
      background-size: 40px;
      background-position: center;
      background-repeat: no-repeat; }
  nav.main-navigation .main-navbar {
    position: fixed;
    right: -100%;
    width: 400px;
    height: calc(100vh - 70px);
    margin: 0;
    background: #F6F6F6;
    transition: right 0.3s ease;
    z-index: 1; }
    @media screen and (max-width: 1024px) {
      nav.main-navigation .main-navbar {
        width: 100%; } }
    nav.main-navigation .main-navbar.expanded {
      right: 0; }

main {
  width: auto;
  margin: 0 50px;
  max-width: 1200px; }
  @media screen and (min-width: 1200px) {
    main {
      margin: 0 auto; } }
  @media screen and (max-width: 1024px) {
    main {
      margin: 0 30px; } }
  @media screen and (max-width: 699px) {
    main {
      margin: 0 10px; } }

.hero {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  max-width: 1900px; }
  .hero video {
    width: 100%; }
  .hero .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 4px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
    display: flex;
    justify-content: center;
    align-items: center; }
    .hero .hero-overlay .overlay-content {
      width: 600px;
      padding: 50px 0;
      border-top: 4px solid #FFA54F;
      border-bottom: 4px solid #FFA54F;
      transform: scale(0.98);
      transition: transform 2s ease; }
      .hero .hero-overlay .overlay-content.zoomed {
        transform: scale(1); }
      @media (max-width: 1024px) {
        .hero .hero-overlay .overlay-content {
          width: 450px;
          padding: 30px 0;
          margin: 0 50px; } }
      @media (max-width: 699px) {
        .hero .hero-overlay .overlay-content {
          width: auto;
          padding: 20px 0;
          margin: 0 30px; } }
      .hero .hero-overlay .overlay-content h1 {
        text-align: center;
        color: #FFFFFF;
        font-family: "Inconsolata", monospace;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #000000;
        margin-top: 0; }
      .hero .hero-overlay .overlay-content .subheader {
        text-align: center;
        color: #FFFFFF;
        font-size: 20px;
        text-shadow: 1px 1px 1px #000000; }

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000000; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }
